<!DOCTYPE html>
<html>
<head>
    <title>Prompt Midjourney</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Prompt Midjourney</h1>
        <div class="prompt">
            <p>
                <label for="input-text">Imagine something you want to see:</label>
                <input type="text" id="input-text">
            </p>
            <p id="final-prompt"></p>
        </div>
        <div class="buttons">
            <button id="styles-btn">Styles</button>
            <button id="lighting-btn">Lighting</button>
            <button id="camera-btn">Camera</button>
            <button id="artists-btn">Artists</button>
            <button id="colors-btn">Colors</button>
            <button id="materials-btn">Materials</button>
            <button id="size-btn">Size</button>
            <button id="dof-btn">Depth of Field</button>
            <button id="quality-btn">Quality</button>
            <button id="stylize-btn">Stylize</button>
        </div>
    </div>
    <script src="/script.js"></script>
</body>
</html>